<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<div class="container">
    <div class="main-body">
        <div class="grey-bg container-fluid">
            <section id="minimal-statistics">
                <div class="row p-4">
                    <div class="col-md-8">
                        <div class="col-12 mt-3 mb-1 text-center">
                            <h4>INTERVENCIÓN EN CURSO!</h4>
                        </div>
                    </div>
                    <div class="col-md-4 p-2">
                        <a href="/int/new/{{id_int}}" class="btn btn-primary waves-effect waves-light"><i
                                class="mdi mdi-plus ml-auto"></i> Finalizar Intervención</a>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center">
                                            <i class="fas fa-user-astronaut primary font-large-2 float-left"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="primary">{{user.name}}</h3>
                                            <p class="primary">{{user.lastname}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center">
                                            <i class="fas fa-heartbeat warning font-large-2 float-left"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="warning">74 ppm</h3>
                                            <span>Ritmo Cardíaco</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center">
                                            <i class="fas fa-thermometer success font-large-2 float-left"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="success">36,5º</h3>
                                            <span>Temperatura Int </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="align-self-center">
                                            <i class="fas fa-thermometer danger font-large-2 float-left"></i>
                                        </div>
                                        <div class="media-body text-right">
                                            <h3 class="danger">35º</h3>
                                            <span>Temperatura Ext </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>