<div class="container py-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <!--<p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code: 403</p>-->
            <img src="/images/bombero.gif" width="250" height="250">
        </div>
        <div class="col-md-8">
            <h3>OPPSSS!!!! Sorry...</h3>
            <p>Sorry, your access is refused due to security reasons of our server and also our sensitive
                data.<br />Please go back to the previous page to continue browsing or Login</p>
            <a class="btn btn-danger" href="/log/login">Log in</a>
        </div>
    </div>
</div>