<link rel="stylesheet" href="/css/index.css">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur molestiae assumenda voluptatem perspiciatis
    quibusdam maiores eaque dolorum temporibus tempore minus ipsa obcaecati eius dolore, suscipit officiis
    aspernatur quo sit eum!</p>


<h1>Footer</h1>