<link rel="stylesheet" href="/css/index.css">

<h1 width="200%"> <font color="red">FireHealth</font></h1>

<br> </br>

<h4>FireHealth es un sistema integrado en la indumentaria del bombero que permite monitorizar sus constantes durante una intervención, simulacro o entrenamiento, visualizarlas en tiempo real y facilitar el rescate de un bombero en caso de accidente gracias al sistema de localización. </h4>
<br> </br>

<div class="slider">
  <ul>
    <li><img src="/images/foto0.jpg" alt=""> </li>
    <li><img src="/images/foto1.jpg" alt=""> </li>
    <li><img src="/images/foto2.jpg" alt=""> </li>
    <li><img src="/images/foto3.jpg" alt=""> </li>
    <li><img src="/images/foto4.jpg" alt=""> </li>
    <li><img src="/images/foto5.jpg" alt=""> </li>
  </ul>
</div>

<p>En colaboración con: </p>
<br> </br>
<div class="tabla">
<table border="0" width="50%" height="auto"><tr>
<td><center><img src="/images/logo_teis.jpg" width="300" height="350" border="0"></center></td>
<td><center><img src="/images/logo_aeropuerto.png" width="300" height="350" border="0"></center></td>
</tr></table>
</div>