<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/css/newuser.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/newuser.css">

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="/images/logo.png" alt="" />
            <h3>Bienvenido</h3>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Dar de alta bombero</h3>
                    <div class="row register-form">
                        <div class="col-md">
                            <form action="/admin/users/new" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre *" name="name" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Primer Apellido *"
                                                name="surname_one" />
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Segundo Apellido *"
                                                name="surname_two" />
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Dirección *" name="address" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" minlength="9" maxlength="9"
                                        placeholder="DNI *" name="dni" />
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="9" maxlength="9" name="phone" class="form-control"
                                        placeholder="Telefono *" />
                                </div>
                                <div class="form-group">
                                    <select class="custom-select" id="inputGroupSelect01" name="puesto">
                                        <option selected> Puesto </option>
                                        <option value="Bombero">Bombero</option>
                                        <option value="Bombero Jefe">Bombero Jefe</option>
                                    </select>
                                </div>
                                <input type="submit" class="btnRegister" value="Dar de alta" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>