<div class="login-form">
    <form action="/users/login" method="POST">
        <img class="rounded-circle mx-auto d-block logo m-4" src="/images/logo.jpeg" alt="Logo">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input type="text" class="form-control" name="email" placeholder="ejemplo@dominio.es"
                    required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="Contraseña"
                    required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Sign in</button>
        </div>
        <div class="clearfix text-center">
            <a href="#" class="text-success" data-toggle="modal" data-target="#">Forgot
                Password?</a>
        </div>
        <!--<label class="float-left form-check-label">

            <input type="checkbox"> Remember me</label>
            <a href="#" class="float-right text-success">Forgot Password?</a>
        </div>-->
    </form>
</div>
</form>
</div>